.agenda-section {
  padding: 72px 120px;
  // background: #f3f3f3;
  color: #111111;

  &-title {
    margin: 0 0 28px;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
  }
}

.agenda-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.agenda-column {
  width: 100%;
  min-width: 0;
}

.agenda-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  background: #111111;
  color: #ffffff;
  // padding: 12px 16px;
  padding: 0px 16px;
  margin-bottom: 6px;
  font-size: 1rem;
  font-weight: 500;
  height: 40px;
}

.agenda-item {
  padding: 30px 18px;
  border-bottom: 1px solid #8e8e8e;
}

.agenda-time {
  margin: 0 0 10px;
  font-size: 0.95rem;
  font-weight: 500;
}

.agenda-title {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1;
  font-family: "NB International";
}

@media (max-width: 744px) {
  .agenda-section {
    padding: 72px 80px;

    &-title {
      font-size: 2.5rem;
    }
  }

  .agenda-grid {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .agenda-title {
    font-size: 1.65rem;
  }
}

@media (max-width: 600px) {
  .agenda-section {
    // padding: 32px 16px;

    &-title {
      font-size: 2rem;
      margin-bottom: 20px;
    }
  }

  .agenda-header {
    padding: 10px 12px;
    font-size: 0.9rem;
  }

  .agenda-item {
    padding: 22px 10px;
  }

  .agenda-time {
    font-size: 0.85rem;
    margin-bottom: 8px;
  }

  .agenda-title {
    font-size: 1.35rem;
    line-height: 1.2;
  }
}

@media (max-width: 390px) {
  .agenda-section {
    padding: 72px 40px;
  }
}
