.container {
  padding: 72px 120px;
  font-family: "NB International";
}

.faq-wrapper {
  position: relative;
  z-index: 1;

  .faq-sticker {
    z-index: 999;
  }

  .faq-sticker--bottom-left {
    position: absolute;
    transform-origin: center;

    &.faq-sticker--bottom-left--sunrise-sunset {
      left: -45px;
      top: 373.932px;
      transform: scale(1.2) rotate(0deg);
    }

    &.faq-sticker--bottom-left--afternoon {
      left: -80px;
      top: 343.932px;
      transform: scale(1.2) rotate(2deg);
    }

    &.faq-sticker--bottom-left--night {
      left: -120px;
      top: 260px;
      transform: scale(1) rotate(0deg);
    }
  }

  .faq-sticker--top-right {
    position: absolute;
    transform-origin: center;

    &.faq-sticker--top-right--sunrise-sunset {
      right: 80px;
      top: 0.932px;
      transform: scale(1.1) rotate(0deg);
    }

    &.faq-sticker--top-right--afternoon {
      right: 90px;
      top: 0.932px;
      transform: scale(1.1) rotate(0deg);
    }

    &.faq-sticker--top-right--night {
      right: 140px;
      top: -20px;
      transform: scale(1.1) rotate(0deg);
    }
  }

  .faq-sticker--bottom-right {
    position: absolute;
    transform-origin: center;

    &.faq-sticker--bottom-right--sunrise-sunset {
      right: -30px;
      top: 230px;
      transform: scale(1) rotate(0deg);
    }

    &.faq-sticker--bottom-right--afternoon {
      right: -20px;
      top: 250px;
      transform: scale(1.2) rotate(0deg);
    }

    &.faq-sticker--bottom-right--night {
      right: 340px;
      top: 440px;
      transform: scale(1.2) rotate(0);
    }
  }

  .title {
    font-size: 32px;
    font-family: "Neue Plak";
    padding-bottom: 24px;
  }

  .faq {
    position: relative;
    width: 100%;
    z-index: 2;
    border: none;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border: 1.5px solid #000000;
      pointer-events: none;
      filter: url(#agenda-roughen);
      z-index: 0;
    }
    &__item {
      position: relative;
      z-index: 2;
      padding: 32px 40px;
      display: flex;
      flex-direction: column;

      &:not(:last-child)::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1.5px;
        background: #000000;
        filter: url(#agenda-roughen);
        pointer-events: none;
      }
    }

    &__question {
      padding: 0;
      width: 100%;
      font-family: "NB International";
      text-align: left;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 20px;
      display: flex;
      margin: 0;
      justify-content: space-between;
      align-items: center;
    }
    &__icon {
      position: relative;
      width: 24px;
      height: 24px;
      flex-shrink: 0;

      &-horizontal {
        position: absolute;
        width: 20px;
        height: 0px;
        left: 2px;
        top: 12px;
        border: 1px solid #191919;
        display: block;
      }

      &-vertical {
        position: absolute;
        width: 0px;
        height: 20px;
        left: 12px;
        top: 2px;
        border: 1px solid #191919;
        display: block;
        transition: transform 0.2s ease;
      }

      &--open &-vertical {
        transform: rotate(-90deg);
      }
    }

    &__answer {
      font-size: 16px;
      margin-top: 16px;
    }
  }
}

@media (max-width: 1024px) {
  .faq-wrapper {
    .faq-sticker--bottom-right {
      &.faq-sticker--bottom-right--night {
        right: 100px;
      }
    }
    .faq-sticker--top-right {
      &.faq-sticker--top-right--night {
        right: 100px;
      }
    }
  }
}

@media (max-width: 744px) {
  .container {
    padding: 72px 80px;
  }
}

@media (max-width: 650px) {
  .faq-wrapper {
    .faq-sticker--bottom-right {
      &.faq-sticker--bottom-right--night {
        right: -20px;
        top: 325px;
      }
    }

    .faq-sticker--top-right {
      &.faq-sticker--top-right--night {
        right: -50px;
        top: 0px;
      }
    }

    .faq-sticker--bottom-left {
      &.faq-sticker--bottom-left--night {
        left: -90px;
        top: 320px;
      }
    }

    .faq-sticker > * {
      transform: scale(0.7);
      transform-origin: center;
    }
  }
}

@media (max-width: 480px) {
  .container {
    padding: 72px 40px;
  }
}
