//this is the faq section.container {
.container {
  padding: 0 120px;
  font-family: "NB International";
}

.title {
  font-size: 32px;
  font-family: "Neue Plak";
}

.faq {
  border: 1px solid #000000;
  width: 100%;
  &__item {
    border-bottom: 1px solid #000000;
    padding: 32px 40px;
    display: flex;
    flex-direction: column;
    // gap: 16px;
    &:last-child {
      border-bottom: none;
    }
  }

  &__question {
    padding: 0;
    width: 100%;
    font-family: "NB International";
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;

  }
  &__icon {
    position: relative;
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    &-horizontal {
      position: absolute;
      width: 20px;
      height: 0px;
      left: 2px;
      top: 12px;
      border: 1px solid #191919;
      display: block;
    }

    &-vertical {
      position: absolute;
      width: 0px;
      height: 20px;
      left: 12px;
      top: 2px;
      border: 1px solid #191919;
      display: block;
      transition: transform 0.2s ease;
    }

    &--open &-vertical {
      transform: rotate(-90deg);
    }
  }

  &__answer {
    font-size: 16px;
  }
}