.judges-section{
    padding: 0 120px;
    overflow-x: hidden;
    overflow-x: clip;

    h1{
        margin: 0 0 12px;
        font-size: 2rem;
        // background-color: red;
        max-width: fit-content;
        // margin-left: 1rem;
    }

    @media (max-width: 744px){
        padding: 0 80px;
    }
    @media (max-width: 480px){
        padding: 0 40px;
    }
}