@font-face {
  font-family: "Neue Plak";
  src: url("../../fonts/neue-plak/Neue\ Plak\ W05\ Extended\ Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.button {
  position: relative;
  font-family: "Neue Plak";
  background-color: #191919;
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  border-radius: 0px;
  font-size: 1rem;
  border: none;
  box-sizing: border-box;
  height: 42px;
  cursor: pointer;

  .content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-wrap: nowrap;

    span {
      margin-top: -5px;
    }
  }
}