.cloud-container {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none; 
  
  z-index: 0; 

  --opacity: 0.9;

  animation: SkyFadeIn 2s ease-in-out forwards;

  .cloud {
    position: absolute;
    left: 0;
    will-change: transform;

    /* Infinite loop with negative delay to fast forward animation start points */
    animation: MoveCloud var(--duration) linear 0s infinite;
    animation-delay: var(--start-delay, 0s);

  }
}

@keyframes MoveCloud {
  0% {
    transform: translateX(-600px) translateY(var(--cloud-top, 0));
    opacity: 0;
  }
  20% {
    opacity: var(--opacity);
  }
  80% {
    opacity: var(--opacity);
  }
  100% {
    transform: translateX(110vw) translateY(var(--cloud-top, 0));
    opacity: 0;
  }
}

@keyframes SkyFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}