// grain is being rendered 3x, which could lead to browser performance issues

.hero-board {
  display: flex;
  flex-direction: column;
  position: relative;
  will-change: transform;

  .board-legs {
    display: flex; 
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding: 0 70px;
    box-sizing: border-box;

    .left-leg, .right-leg{
      position: relative;
      width: 21px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200' fill='none'%3E%3Cg filter='url(%23grain)'%3E%3Crect width='100%25' height='100%25' fill='%2324241D'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='grain' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.566' stitchTiles='stitch' numOctaves='3' result='noise' seed='3550'/%3E%3CfeColorMatrix in='noise' type='luminanceToAlpha' result='alphaNoise'/%3E%3CfeComponentTransfer in='alphaNoise' result='coloredNoise1'%3E%3CfeFuncA type='discrete' tableValues='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 '/%3E%3C/feComponentTransfer%3E%3CfeComposite operator='in' in2='shape' in='coloredNoise1' result='noise1Clipped'/%3E%3CfeFlood flood-color='%23F1EBE5' flood-opacity='0.5' result='color1Flood'/%3E%3CfeComposite operator='in' in2='noise1Clipped' in='color1Flood' result='color1'/%3E%3CfeMerge result='effect1_noise'%3E%3CfeMergeNode in='shape'/%3E%3CfeMergeNode in='color1'/%3E%3C/feMerge%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
      background-repeat: repeat;
      background-color: #2B2B23;
      
      &::before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 100vh;
        background-image: inherit;
        background-repeat: inherit;
        background-color: inherit;
      }

      
      /* Size for Mobile */
      height: 45px;

      /* Size for Tablet */
      @media(min-width: 744px) {
        height: 75px;
      }
      /* Size for Desktop */
      @media(min-width: 1279px) {
        height: 104px;
      }

    }
  }

  .board-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: flex-start;

    /* Size for Mobile */
    width: 362px; 

    /* Size for Tablet/Desktop */
    @media(min-width: 744px) {
      width: 602px;
    }

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200' fill='none'%3E%3Cg filter='url(%23grain)'%3E%3Crect width='100%25' height='100%25' fill='%2324241D'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='grain' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.566' stitchTiles='stitch' numOctaves='3' result='noise' seed='3550'/%3E%3CfeColorMatrix in='noise' type='luminanceToAlpha' result='alphaNoise'/%3E%3CfeComponentTransfer in='alphaNoise' result='coloredNoise1'%3E%3CfeFuncA type='discrete' tableValues='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 '/%3E%3C/feComponentTransfer%3E%3CfeComposite operator='in' in2='shape' in='coloredNoise1' result='noise1Clipped'/%3E%3CfeFlood flood-color='%23F1EBE5' flood-opacity='0.5' result='color1Flood'/%3E%3CfeComposite operator='in' in2='noise1Clipped' in='color1Flood' result='color1'/%3E%3CfeMerge result='effect1_noise'%3E%3CfeMergeNode in='shape'/%3E%3CfeMergeNode in='color1'/%3E%3C/feMerge%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: repeat;
    background-color: #2B2B23;
    border-radius: 8px;
    font-family: "NB International";

    
    .header {
      display: flex;
      align-items: flex-start;
      width: 100%;
      border-bottom: 1px solid #F2F4EE;

      /* Size for Mobile */
      padding: 18px 12px 18px 18px;
      gap: 10px;

      /* Size for Tablet/Desktop */
      @media(min-width: 744px) {
        gap: 16px;
        padding: 18px 16.35px 18px 18px;
      }

      .icon-wrapper {
        display: flex;
        flex-shrink: 0;

        /* Size for Mobile */
        width: 37.884px;
        height: 37.884px;

        /* Size for Tablet/Desktop */
        @media(min-width: 744px) {
          width: 50.516px;
          height: 50.516px;
        }
      }

      .header-text {
        display: flex;
        flex-direction: column;
        color: #EEF0F1;
        line-height: 1.2;

        flex: 1; 
        min-width: 0;

        /* Size for Mobile */
        gap: 4px;

        /* Size for Tablet/Desktop */
        @media(min-width: 744px) {
          gap: 5.66px;
        }
        
        .main-text {
          font-weight: 600;
          white-space: nowrap;
          transform-origin: left center;
          width: max-content;

          /* Size for Mobile */
          font-size: 1.85rem;

          /* Size for Tablet/Desktop */
          @media(min-width: 744px) {
            font-size: 3.45rem;
          }
        }

        .sub-text {
          font-style: normal;
          font-weight: 400;

          /* Size for Mobile */
          font-size: 0.75rem;
          width: 271px;

          /* Size for Tablet/Desktop */
          @media(min-width: 744px) {
            font-size: 1rem;
            width: 493px;
          }
        }
      }
    }
    .details-section {
      width: 100%;

      /* Size for Mobile */
      padding: 14px 20px 16px 20px;

      /* Size for Desktop */
      @media(min-width: 744px) {
        padding: 14.98px 24px 16px 24px;
      }

      .details-column-container {
        display: grid;
        grid-template-columns: repeat(4, auto);
        
        /* Size for Mobile */
        gap: 8px;

        /* Size for Tablet/Desktop */
        @media(min-width: 744px){
          gap: 16px;
        }
      }
      .column {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .column-header {
          .header-text {
            margin: 0;
            color: #AEB032;

            /* Size for Mobile */
            font-size: 0.625rem;

            /* Size for Tablet/Desktop */
            @media(min-width: 744px){
              font-size: 0.875rem;
            }
          }
        }

        .card {
          display: flex;
          background-color: #61636580;
          height: 36px;
          border-radius: 2.807px;
          align-items: center;
          align-self: stretch;
          gap: 3.509px;
          flex: 1;

          /* Size for Mobile */
          padding: 10px 8px;

          /* Size for Tablet/Desktop */
          @media(min-width: 744px) {
            padding: 10px 12px;
          }

          .card-text {
            color: #F6F5F4;
            text-align: center;
            font-family: "NB International";
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            white-space: nowrap;

            /* Size for Mobile */
            font-size: 0.6875rem;
            word-spacing: 5px;

            /* Size for Tablet/Desktop */
            @media(min-width: 744px) {
              word-spacing: 10px;
              font-size: 1rem;
            }
          }
        }
      }
    }

    .button.register-button {
      background-color: #EEF0F1;
      color: #2B2B23;

      padding: 1rem 1.25rem;
      width: 100%;
      margin-top: 14px;
      border-radius: 4px;
      font-style: normal;
      font-weight: 400;

      /* Size for mobile */
      font-size: 1rem;
      height: 42px;

      /* Size for Tablet/Desktop */
      @media(min-width: 744px) {
        font-size: 1.25rem;
        height: 60px;
      }
      &:hover {
        background-color: #DADADA;
      }
    }
  }
}